@import "reset";

.main-screen{
    display: flex;
    flex-direction: column;
    
    .nav-box {
        display: flex;
        flex-direction: row;
       
        .nav-links {
            width: 15vh;

            img {
                width: 100%;
            }
        }
    }

    .app-bar {
        align-items: flex-end;
    }
}